

body{
margin: 0;
padding: 0;
overflow-x: hidden;
box-sizing: border-box;
}

.row{
    display: flex;
    flex-direction: row;
    
}

.col{
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    height: auto;
   }


   .imgFit{
    width: fit-content;
    display: inline-block;
    

  }

 