/*  */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* lato  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");



.row {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  li {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
    font-family: "Lato", sans-serif;
    cursor: pointer;
  }
}

/* Phlosfer Header */



/* Design Curses Header */


/* Devlopments Curses */


/*Business Curses */


